/* Add some css styles based on the tutorial at javascript.info: introduction to browser events
 https://javascript.info/introduction-browser-events */

body {
  position: relative;
  padding: 10px;
  background-color: coral;
}

.carousel {
  position: relative;
  width: 398px;
  padding: 10px 40px;
  border: 1px dotted tan;
  border-width: thick;
  border-radius: 15px; /*radius of element's corners*/
  background: FloralWhite;
  margin: auto;
}

.carousel img {
  width: 130px;
  height: 130px;
  display: block;
}

.window {
  width: 390px;
  overflow: hidden;
}

.window ul {
  height: 130px;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none; /*shorthand property for all list properties*/
  transition: margin-left 250ms; /*allows you to change property values smoothly when the specified CSS property changes value*/
  /* didn't use font-size: 0; */
}

.window li {
  display: inline-block; /*horizontal, removes bullets*/
}

.left {
  left: 7px; /*higher values move to the right*/
}

.right {
  right: 7px;
}

.arrow {
  position: absolute; /*arrow element is positioned relative to its normal position - overlaps*/
  top: 60px;
  padding: 0;
  background: blanchedalmond;
  border-radius: 15px;
  border: 1px solid goldenrod;
  font-size: 24px;
  line-height: 24px;
  color: goldenrod;
  display: block;
}

.arrow:hover {
  background: mintcream;
  cursor: pointer;
}
