body {
  font: normal 1.2em "Monaco", "Courier New", "monospace"; /*several fonts listed as fallbacks, then generic family name*/
  background: rgb(233, 172, 218);
  color: #fff;
  padding: 50px 0;
}

/* vertically center the flex items across the cross-axis */
.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap; /* items allowed to wrap onto multiple lines */
  align-items: center;
}

/* Each label and associated form element are on a single horizontal row when the width of the form totals at least 220px. Otherwise, they're vertical */
.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px; /* combines flex-grow, flex-shrink, flex-basis */
  max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

/* submit button */
.flex-outer li button {
  padding: 8px 16px;
  border: none;
  background: rgb(153, 152, 152);
  color: #f2f2f2;
  text-transform: uppercase;
  font: normal 16px "Monaco", "Courier New", "monospace";
  letter-spacing: 0.09em;
  border-radius: 2px;
  /* margin-left: auto; goes to the right */
}

/* set the width of the flex items (<li>) that are immediate parents of the checkboxes to 100px */
.flex-inner li {
  width: 100px;
}

.flex-inner {
  justify-content: space-between; /*allows .flex-inner to stretch and align across main-axis. checkboxes and their respective labels achieve a consistent alignment */
}

h2 {
  text-align: center;
  font-size: 200%;
}
